.textarea-form{
    position: relative;
    width: 46rem;
    margin: 32px auto 50px auto;
    background: #fff;
    padding: 7px;
    border-radius: 7px;
    box-shadow: 0 1px 7px rgb(128, 128, 128);
}
.textarea-form input{
    width: 100%;
    border: none;
    padding: 4px 10px;
    margin-bottom: 20px;
    outline: none;
    font-size: 1rem;
    resize: none;
}
.textarea-form textarea{
    width: 100%;
    border: none;
    padding: 4px 10px;
    outline: none;
    font-size: 1rem;
    resize: none;
}
.add-note-btn{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 18px;
    bottom: -18px;
    background: #ffa05c;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgb(165,165,165);
    cursor: pointer;
    outline: none;
}

/* .color-selector-btn:hover{
    transform: scale(1.02);
} */
.action-btn{
    bottom: 4%;
    position: absolute;
    margin-left: 1rem;
    display: flex;
    gap: 1rem;
}
.color-btn{
    background: none;
    border-radius: 50%;
    border: 2px solid grey;
    padding: 8px;
    font-size: 0px;
}
.red{
    background-color: #ff7c7c;
}
.orange{
    background-color: #ffa05c;
}
.yellow{
    background-color: #f3e67a;
}
.green{
    background-color: #9eef9a;
}
.blue{
    background-color: #8fa8f6;
}
.pink{
    background-color: #f195d0;
}
.purple{
    background-color: #a976fa;
}
.pink{
    background-color: #f195d0;
}
.brown{
    background-color: #afafaffc;
}
.color-box{
    position: absolute;
    bottom: 39.5%;
    right: 43.5%;
    display: flex;
    width: fit-content;
    gap: 0.5rem;
    box-shadow: 0 1px 5px rgb(128 128 128);
    padding: 0.5rem;
    border-radius: 10px;
}
.pointer{
    position: absolute;
    top: -24%;
    left: 5%;
    font-size: 2rem;
    font-weight: 500;
    color: #c1b5b5;
    font-family: cursive;
    
}
.quill-editor{
    height: 8rem;
    color: black;
}
.no-note-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    margin-right: 11rem;
    opacity: 0.3;
}
.no-note-pra{
    font-size: 2rem;
    font-weight: 600;
    color: grey;
}
.txt-editor-label-input{
    width: 14rem;
    padding: .7rem;
    border-radius: 9px;
    border: 1px solid grey;
}
.lable-container{
    position: absolute;
    bottom: 39%;
    right: 66%;
    display: flex;
    padding: 0.5rem;
    border-radius: 12px;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 1px 5px rgb(128 128 128);
}
.tags{
    cursor: pointer;
    display: flex;
    grid-gap: 5px;
    gap: 5px;
    margin-top: 5px;
}
.tags input{
    cursor: pointer;
}
.tag-selection-box{
    display: flex;
    flex-wrap: wrap;
    width: 14rem;
    padding: 0.5rem;
    justify-content: space-around;
}
.tag-btn{
    cursor: pointer;
    position: absolute;
    bottom: 12%;
    right: 10%;
    border: 1px solid grey;
    border-radius: 4px;
    background-color: #bfbfbf;
}
.txt-editor-box{
    margin-top: 1rem;
    width: 65rem;

}
.filter-btn{
    position: absolute;
    display: flex;
    top: 3%;
    right: 3%;
    padding: 0.8rem 5rem;
    border-radius: -4px;
    border-radius: 11px;
    align-items: center;
    grid-gap: 1rem;
    gap: 1rem;
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;
    color: #90867d;
    font-family: cursive;
    border: none;
}


