

@media screen and (max-width: 860px) {
    .textarea-form {
        position: relative;
        width: 30rem;
        margin: 32px auto 50px auto;
        background: #fff;
        padding: 7px;
        border-radius: 7px;
        box-shadow: 0 1px 7px rgb(128 128 128);
    }
    .note-box {
        margin-top: 6rem;
        width: 5rem;
    }
    .logout {
        margin-left: 1rem;
    }
    .filter-btn {
      display: none;
    }
    .no-note-txt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 12rem;
        margin-right: 1rem;
        opacity: 0.3;
    }
    .txt-editor-box{
        margin-top: 1rem;
        overflow-y: auto;
        height: 35rem;
        width: 34rem;
    }
  
}
 @media screen and (max-width:660px) {
    .header {
        margin: 0px;
        position: sticky;
        top: 0%;
        z-index: 10;
        background-color: white;
        padding: 10px 20px;
        box-shadow: 0 0 2px 0 rgb(255, 255, 255);
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-self: center;
        align-items: center;
    }
    .widgets{
        display: none;
    }
    .logout {
        margin-left: 4rem;
        font-size: 14px;
    }
    .label-list {
        position: fixed;
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color: #d8d7d654;
        justify-content: space-around;
        bottom: 1%;
        z-index: 9;
    }
    .txt-editor-box{
        margin-top: 1rem;
        overflow-y: auto;
        height: 35rem;
        width: 34rem;
    }
    footer {
        display: none;
    }
 }

 @media screen and (max-width:429px) {
    .label-list {
        position: fixed;
        bottom: 1%;
        display: flex;
        flex-direction: row;
        gap: 5rem;
        z-index: 9;
    }
    .logout {
        margin-left: 14rem;
        font-size: 14px;
    }
    .content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  .txt-editor-box{
        margin-top: 1rem;
        overflow-y: auto;
        height: 75rem;
        width: 34rem;
  }
    .note-box {
        margin-top: 6rem;
        display: flex;
        flex-direction: column;
    }
    .note {
        width: 25.5rem;
    }
    .search input {
        padding: 4px;
        padding-left: 18px;
        font-size: 13px;
        width: 14rem;
        border-radius: 10px;
        border: none;
        background-color: #F1F3F4;
        outline: none;
    }
    .search-btn {
        padding: 0.625rem;
        border-radius: 12px;
        background-color: #F1F3F4;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0rem;
    }
    .filter-btn {
        display: none;
      }
      footer {
        display: none;
    } 

}