.note{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: #fff;
    width: 26rem;
    height: fit-content;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgb(175, 175, 175);
    padding: 10px;
    margin: 16px;
    float: left;
    padding: 1rem;
}
.note h1{
    font-size: 1rem;
    margin-bottom: 6px;
}
.note p{
    font-size: 1rem;
    color: #6f212b;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 1rem;
}
.card-action-btn{
    position: relative;
    float: right;
    color: #3B3B3B;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    padding: 3px;
}
.cardicon{
    background: #ffffff;
    border-radius: 50%;
    height:30px;
}
.title-txt{
    color: #3B3B3B;
} 
.card-color-box{
    display: flex;
    width: fit-content;
    gap: 1rem;  
    padding: 1rem;  
}
.card-color-btn{
    background: none;
    border-radius: 50%;
    border: 2px solid grey;
    padding: 8px;
    font-size: 0px;
    cursor: pointer;
}
.red{
    background-color: #ff7c7c;
}
.orange{
    background-color: #ffa05c;
}
.yellow{
    background-color: #f3e67a;
}
.green{
    background-color: #9eef9a;
}
.blue{
    background-color: #8fa8f6;
}
.pink{
    background-color: #f195d0;
}
.purple{
    background-color: #a976fa;
}
.pink{
    background-color: #f195d0;
}
.brown{
    background-color: #afafaffc;
}
.card-pointer{
    position: absolute;
    bottom: 12%;
    left: 53.5%;
    font-size: 2rem;
    font-weight: 500;
    color: #c1b5b5;
    font-family: cursive;  
}
.note-lable-container{
    display: flex;
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 12px;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 1px 5px rgb(128 128 128);
}
.note-tag-input{
    display: flex;
    align-items: center;
}
.note-tag-btn{
    border: 1px solid grey;
    border-radius: 4px;
    background-color: #bfbfbf;
    margin-left: -2rem;   
}
.chips{
    background-color: #c9c9c9;
    width: fit-content;
    padding: 0.5rem;
    font-size: 12px;
    border-radius: 8px;
}
.tag-chips{
    display: flex;
    gap: 0.6rem;
    flex-wrap: wrap;
    width: 24rem;
    padding: 1rem;
}
.delete-chip-btn{
    font-size: 1rem;
    cursor: pointer;
}