.note{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: #fff;
    width: fit-content;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgb(175, 175, 175);
    padding: 10px;
    margin: 16px;
    float: left;
    padding: 1rem;
}
.note h1{
    font-size: 1rem;
    margin-bottom: 6px;
}
.note p{
    font-size: 1rem;
    color: #6f212b;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 1rem;
}
.note button{
    position: relative;
    float: right;
    color: #3B3B3B;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    padding: 3px;
}
.cardicon{
    background: #ffffff;
    border-radius: 50%;
    height:30px;
}
.title-txt{
    color: #3B3B3B;
} 
